h2,h3,p{
  font-size: 30px;
}
td{
  border: 1px solid;
}
.square{
  width: 80px;
  height: 80px;
  border: 1px solid;
  box-sizing: border-box;
  margin: 0;
}
.diceIcon{
  width: 20px;
  height: 20px;
  margin: -10px;
  position: relative;
  right: 12px;
  bottom: 68px;
  /*mix-blend-mode: multiply;*/
}
tr{
  position: relative;
}
table{
  margin-top: -4px;
}
.wizImg{
height: 600px;
width: 480px;
border: 1px solid;
margin-top: -2px;
box-sizing: border-box;
}
.wizardCardHolder{
  margin: 30px;
}
.titles{
  border: 1px solid;
  width: 480px;
}
p{
  border: 1px solid;
  width: 480px;
  box-sizing: border-box;
  margin-top: -5px;
}
.diceOne{
}
.diceTwo{
}
.diceThree{
}
